*.class
libs/
res/values/styles.xml
res/values/strings.xml
res/values/dimens.xml
res/values-w820dp/dimens.xml
res/menu/main.xml
res/drawable-xxhdpi/ic_launcher.png
res/drawable-xhdpi/ic_launcher.png
res/drawable-mdpi/ic_launcher.png
res/drawable-hdpi/ic_launcher.png
bin/
gen/android/support/v7/appcompat/R.java
gen/com/example/osc8bit/BuildConfig.java
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
build.gradle
gen/com/example/osc8bit/R.java
ic_launcher-web.png
proguard-project.txt
project.properties
res/values-v11/styles.xml
res/values-v14/styles.xml
